*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    width: 100%;
    height: 600px;
    background-image: url(sin.jpg);background-size: cover;
    margin-top: 0px;
}
#img{
    width: 100%;
    height: 600px;
}
.ho{
    margin-top: 10px;
    color: aliceblue;
margin-left: 700px;
}
@media only screen and (max-width:700px){
    .ho{
        margin-left: 200px;
        color: aquamarine;
       
    }
}